.card {
  padding: 1.5rem;
  border-radius: 12px;
}

.value {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.description {
  font-size: 0.9rem;
}

.blue {
  background-color: #eff6ff;
  color: #1d4ed8;
}
.red {
  background-color: #ffe4e6;
  color: #be123c;
}
.green {
  background-color: #f0fdf4;
  color: #166534;
}
